.react-datepicker * {
  outline: none !important;
}

.react-datepicker-wrapper {
  width: 100% !important;
}

.react-datepicker {
  user-select: none !important;
  border: none !important;
  background-color: var(--color-background) !important;
  font-family: ui-sans-serif, system-ui, sans-serif !important;
  box-shadow:
    0 10px 15px -3px var(--color-border) / 0.1,
    0 4px 6px -4px var(--color-border) / 0.1 !important;
  border-radius: 0.5rem !important;
}

.react-datepicker,
.react-datepicker__day {
  color: var(--color-text) !important;
}

.react-datepicker__header {
  border: 0 !important;
  background-color: var(--color-background) !important;
}

.react-datepicker__current-month,
.react-datepicker__day-name,
.react-datepicker-time__header {
  color: var(--color-text) !important;
}

.react-datepicker__month-container {
  background-color: var(--color-background) !important;
}

.react-datepicker__day:not([aria-disabled="true"]):hover {
  background-color: var(--color-accent-hover) !important;
  color: var(--color-background) !important;
}

.react-datepicker__day--selected {
  background-color: var(--color-primary) !important;
  color: var(--color-background) !important;
}

.react-datepicker__day--keyboard-selected {
  background-color: color-mix(
    in srgb,
    var(--color-accent-hover) 70%,
    transparent
  ) !important;
  color: var(--color-background) !important;
}

.react-datepicker__day--keyboard-selected:focus-visible {
  color: var(--color-background) !important;
  outline: 1px solid var(--color-border) !important;
}

.react-datepicker__time-container {
  border-left: 2px solid
    color-mix(in srgb, var(--color-border) 20%, transparent) !important;
}

.react-datepicker__time-container .react-datepicker__time {
  background-color: var(--color-background) !important;
}

.react-datepicker__time-box {
  padding-left: 0.25rem !important;
}

.react-datepicker__time-list-item--selected {
  background-color: var(--color-accent-hover) !important;
  font-weight: 400 !important;
  color: var(--color-background) !important;
}

li.react-datepicker__time-list-item:hover {
  background-color: var(--color-accent-hover) !important;
  color: var(--color-background) !important;
}

.react-datepicker__time-list::-webkit-scrollbar {
  width: 5px;
}

.react-datepicker__time-list::-webkit-scrollbar-track {
  background: var(--color-background);
}

.react-datepicker__time-list::-webkit-scrollbar-thumb {
  background: var(--color-border) !important;
}

.react-datepicker__time-list::-webkit-scrollbar-thumb:hover {
  background: var(--color-muted) !important;
}

.react-datepicker__input-container input {
  width: 100% !important;
  min-width: max-content !important;
  appearance: none !important;
  border-radius: 0.375rem !important;
  border: 2px solid var(--color-border) !important;
  background-color: transparent !important;
  padding: 0.5rem !important;
  color: var(--color-text) !important;
  outline: none !important;
  transition: border-color 0.15s ease-in-out !important;
}

.react-datepicker__input-container input:hover {
  cursor: pointer !important;
}

.react-datepicker__input-container input:focus {
  box-shadow: none !important;
}

.react-datepicker__day--disabled {
  cursor: not-allowed !important;
  color: var(--color-muted) !important;
}

.react-datepicker__navigation {
  color: var(--color-text) !important;
  transition: color 0.15s ease-in-out !important;
}

.react-datepicker__navigation:hover {
  color: var(--color-accent-hover) !important;
}

.react-datepicker__navigation--previous:hover {
  border-right-color: var(--color-accent-hover) !important;
}

.react-datepicker__day--outside-month {
  color: var(--color-muted) !important;
}

.react-datepicker__day--today {
  background-color: color-mix(
    in srgb,
    var(--color-accent-hover) 20%,
    transparent
  ) !important;
  font-weight: 600 !important;
}
