/* .react-datepicker * {
  @apply yl-outline-none !important;
}

.react-datepicker-wrapper {
  @apply yl-w-full !important;
}

.react-datepicker {
  @apply yl-select-none yl-border-2 yl-border-border yl-bg-background yl-font-sans yl-shadow-lg !important;
}

.react-datepicker,
.react-datepicker__day {
  @apply yl-text-text !important;
}

.react-datepicker__header {
  @apply yl-border-0 yl-bg-background !important;
}

.react-datepicker__current-month,
.react-datepicker__day-name,
.react-datepicker-time__header {
  @apply yl-text-text !important;
}

.react-datepicker__month-container {
  @apply yl-bg-background !important;
}

.react-datepicker__day:not([aria-disabled="true"]):hover {
  @apply yl-bg-primary yl-text-white !important;
}

.react-datepicker__day--selected {
  @apply yl-bg-primary yl-text-white !important;
}

.react-datepicker__day--keyboard-selected {
  @apply yl-bg-primary/70 yl-text-white !important;
}

.react-datepicker__day--keyboard-selected:focus-visible {
  @apply yl-text-white yl-outline-border !important;
}

.react-datepicker__time-container {
  @apply yl-border-l-border/20 yl-px-0 !important;
}

.react-datepicker__time-container .react-datepicker__time {
  @apply yl-bg-background !important;
}

.react-datepicker__time-box {
  @apply yl-pl-1 !important;
}

.react-datepicker__time-list-item--selected {
  @apply yl-bg-primary yl-font-normal yl-text-white !important;
}

li.react-datepicker__time-list-item {
  @apply hover:yl-bg-primary hover:yl-text-white !important;
}

.react-datepicker__time-list::-webkit-scrollbar {
  width: 5px;
}

.react-datepicker__time-list::-webkit-scrollbar-track {
  background: "##";
}

.react-datepicker__time-list::-webkit-scrollbar-thumb {
  background: rgb(var(--text-color));
}

.react-datepicker__time-list::-webkit-scrollbar-thumb:hover {
  background: rgb(var(--text-color));
}

.react-datepicker__input-container input {
  @apply yl-w-full yl-min-w-max yl-appearance-none yl-rounded-md yl-border-2 yl-border-border yl-bg-transparent yl-p-2 yl-text-text hover:yl-cursor-pointer hover:yl-border-border focus:yl-border-border focus:yl-outline-none focus:yl-ring-transparent !important;
}

.react-datepicker__day--disabled {
  @apply yl-cursor-not-allowed yl-text-text/40 !important;
} */
